.card{
    background-color: var(--light-violet);
    border-radius: 18px;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 19px;
    padding-right: 19px;
    box-shadow: 0 14px 12px rgba(0,0,0,0.25);
    transition: transform var(--transition-duration), 
                box-shadow var(--transition-duration);
}

.card:hover{
    transform: scale(1.03);
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}