.scrolling-skills{
    overflow: hidden;
    padding-bottom: var(--space-lg);
}

.skills-title{
    margin-bottom: var(--space-sm);
    text-align: center;
    color: var(--deep-plum);
}

.scrolling-container{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: var(--light-violet);
    padding: var(--space-sm) 1rem;
}

.scrolling-content{
    display: flex;
    gap: var(--space-md);
    width: max-content;
    animation: scrollSkills 35s linear infinite;
}


.skill-item{
    padding: 0.4rem 1rem;
    background-color: var(--deep-plum);
    color: var(--off-white);
    font-size: 0.85rem;
    white-space: nowrap;
    border-radius: 20px;
    align-content: center;
}

.skill-logo{
    height: 65px;
    width: auto;
    background-color: var(--deep-plum);
    padding: .8rem;
    border-radius: 20px;
}


/* animation to make the cards scroll from right to left */
@keyframes scrollSkills {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
  .scrolling-content {
    animation-duration: 45s;
  }

  .skill-item {
    font-size: 0.75rem;
  }
}
