@import "./variables.css";
@import "./layout.css";
@import "./animations.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--off-white);
  color: var(--charcoal);
  font-family: var(--text-font);
  font-weight: var(--weight-regular);
  line-height: 1.6;
}

p {
  font-size: small;
  color: var(--charcoal);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;
}


header{
  background-color: var(--deep-plum);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
}

/*Heading Styles*/
h1{
  font-family: var(--heading-font);
  font-weight: var(--weight-bold);
}
h2{
  font-family: var(--heading-font);
  font-weight: var(--weight-semibold);
}
h3{
  font-family: var(--heading-font);
  font-weight: var(--weight-medium);
}
button {
  font-family: var(--text-font);
  font-weight: var(--weight-semibold);
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-duration), color var(--transition-duration);
}
