/* Navbar Styles */
li a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  display: block;
  border-radius: 10px;
  border-radius: 4px;
  position: relative;
}

li a:hover {
  background-color: var(--terracotta);
  color: var(--off-white);
}

li{
  list-style: none;
  color: var(--off-white);
  font-family: var(--heading-font);
}

.nav-brand{
  color: var(--off-white);
  font-family: var(--heading-font);
  cursor: pointer;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links{
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: center;
}
.menu-toggle {
  display: none;
  /*background: none;
  border: none;
  color: var(--off-white);
  font-size: 1.2rem;
  cursor: pointer;*/
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: var(--deep-plum);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    color: var(--off-white);
    font-size: 1.2rem;
    cursor: pointer;
  }
}